<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Graph Tool</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.33.1/cytoscape.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>✒️</text></svg>">
    </head>

    <body>
        <div class="topbar">
            <div class="topbar-title">Graph Tool</div>
            <a href="https://github.com/gzhu0/graph-tool" target="_blank">
                <img src="https://cdn.simpleicons.org/github" style="width:2rem;height:2rem;" />
            </a>
        </div>

        <div class="main-grid">
            <!-- Left Column -->
            <div class="left-col">
                <h2 class="header">Draw</h2>
                <button id="nodeButton" class="button">Vertex (v)</button>
                <button id="edgeButton" class="button">Edge (e)</button>
                <button id="deleteButton" class="button">Delete (d)</button>
                <h2 class="header">Graph</h2>
                <textarea id="edgeBox" placeholder="Ex: [[1,2],[3,4]...]"></textarea>
                <button id="createGraphButton" class="button">Create Graph</button>
                <button id="debugButton" class="button">Debug</button>
            </div>

            <!-- Middle Column -->
            <div id="cy"></div>

            <!-- Right Column -->
            <div class="right-col">
                <h2 class="header">Algorithms</h2>

                <h2 class="subheader">K-Cuts</h2>
                <input type="text" id="kInput" placeholder="Input k..." />
                <button id="kCutsButton" class="button">Find Cuts</button>
                <div id="cutsContainer"></div>

                <h2 class="subheader">K-Edge Connected Components</h2>
                <input type="text" id="kInput2" placeholder="Input k..." />
                <button id="kComponentsButton" class="button">Find Edge-Components</button>
                <div id="kComponentsContainer"></div>

                <h2 class="subheader">Spanning Tree Congestion Approximation</h2>
                <button id="stcButton" class="button">Find Tree</button>
                <div id="stcContainer"></div>
            </div>
        </div>

        <script type="module" src="{{ url_for('static', path='js/main.js') }}"></script>
    </body>
</html>
