<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graph Tool</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.33.1/cytoscape.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
    <body>
        <div id="cy">  </div>
        <div id="menu-bar">
            <button id="nodeButton" class = "button"> Vertex </button>
            <button id="edgeButton" class = "button"> Edge </button>
            <button id="deleteButton" class = "button"> Delete </button>
            <button id="debugButton" class = "button"> Debug </button>
            <textarea id="edgeBox" placeholder="Ex: [[1,2],[3,4]...]"></textarea>
            <button id="createGraphButton"> Create Graph </button>
            <input type="text" id="kInput" placeholder="Input k..." />
            <button id="kCutsButton">Find Edges</button>
            <div id="cutsContainer"></div>
        </div>
        <script type="module" src="../static/js/main.js"></script>
    </body>
</html>

