/*Cytoscape Style */
#cy {
width: 70vw;
height: 70vh;
display: block;
border: solid;
border-width: 3px;
border-color: black;
}
.edgeBox {
    width:25%;
    height:10vh;
}
.cutItem {
    width: 30vh;
    font-size: 1.5rem;
    border: 2px black;
}